.idea/
vendor
*.exe
glide.lock
*.DS_Store
.project
.vscode/
go.sum
coverage.out
debug
*.dll

# binary files
cmd/*emulator*

# log dirs
**/logs

# snap files
*.snap
*.bz2
*.pyc
parts/*
prime/*
stage/*
snap/.snapcraft/*
squashfs-root/